services:
  nginx:
    depends_on:
      - wordpress
    container_name: nginx
    build: 
      context: ./requirements/nginx
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
        CERTS_PATH: ${CERTS_PATH}

    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    ports:
      - 443:443
    networks:
      - net
  
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    networks:
      - net
    volumes:
      - mariadb:/var/lib/mysql

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - net
    depends_on:
      - mariadb

volumes:
  wordpress:

  mariadb:
  
networks:
  net: