services:
  # nginx:
  #   depends_on:
  #     - wordpress
  #   container_name: nginx
  #   build: 
  #     context: ./requirements/nginx
  #     args:
  #       DOMAIN_NAME: ${DOMAIN_NAME}
  #       CERTS_PATH: ${CERTS_PATH}
  #       MY_ADMIN_URL: ${MY_ADMIN_URL}

  #   env_file:
  #     - .env
  #   volumes:
  #     - wordpress:/var/www/html
  #   ports:
  #     - 443:443
  #   restart: unless-stopped
  #   networks:
  #     - net
  
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    # healthcheck:
    #   test: ["CMD-SHELL", "ls /var/lib/mysql/password_changed && mysqladmin ping -u ${SQL_USER}","-p${SQL_PASSWORD} -h localhost"]
    #   interval: 5s
    #   timeout: 3s
    #   retries: 10
    env_file:
      - .env
    networks:
      - net
    volumes:
      - mariadb:/var/lib/mysql
    restart: unless-stopped

  # wordpress:
  #   container_name: wordpress
  #   build: 
  #     context: ./requirements/wordpress
  #     args:
  #       WP_PATH: ${WP_PATH}
  #       WP_LANG: ${WP_LANG}
  #       SQL_NAME: ${SQL_NAME}
  #       SQL_USER: ${SQL_USER}
  #       SQL_PASSWORD: ${SQL_PASSWORD}
  #       SQL_HOST: ${SQL_HOST}
  #   volumes:
  #     - wordpress:/var/www/html
  #   env_file:
  #     - .env
  #   networks:
  #     - net
    # depends_on:
    #   mariadb: 
    #     condition: service_healthy
    # restart: unless-stopped
  
  # phpmyadmin:
  #   image: phpmyadmin/phpmyadmin
  #   container_name: phpmyadmin
  #   restart: unless-stopped
  #   environment:
  #     PMA_HOST: ${SQL_HOST}
  #     PMA_PORT: ${SQL_PORT}
  #     PMA_ABSOLUTE_URI: "/myadmin/"
  #   depends_on:
  #     - mariadb
  #   networks:
  #     - net

volumes:
  wordpress:
  mariadb:
  
networks:
  net: